*.pyc
*.debhelper.log
debian/tmp/
.lock-wscript
bin/
*~
debian/files
debian/*substvars
debian/libtalloc-dev/
debian/libtalloc2-dbg/
debian/libtalloc2/
debian/python-talloc-dbg/
debian/python-talloc-dev/
debian/*.debhelper
debian/python-talloc/
