Source: talloc
Section: devel
Priority: optional
Maintainer: Debian Samba Maintainers <samba-maint@alioth.debian.org>
Build-Depends: debhelper (>= 5.0.37.2)
Standards-Version: 3.7.2
XS-Python-Version: >= 2.4
XS-Vcs-Svn: svn://svn.debian.org/pkg-samba/trunk/talloc

Package: libtalloc0
Architecture: any
Depends: ${shlibs:Depends}
Description: Hierarchical pool based memory allocator
 A hierarchical pool based memory allocator with destructors. It is 
 the core memory allocator used in Samba4, and has made a huge difference in 
 many aspects of Samba4 development.

Package: libtalloc-dev
Architecture: any
Description: Hierarchical pool based memory allocator
 A hierarchical pool based memory allocator with destructors. It is 
 the core memory allocator used in Samba4, and has made a huge difference in 
 many aspects of Samba4 development.
 .
 This package contains the development files.
